<html>
<head>
  <title>Task Management</title>
</head>
<body>
  <form method="post" action="http://127.0.0.1:5000/reg">
    <h2>Reister User</h2>
    <div>
      <label>Enter your name: </label>
      <input type="text" name='name'/><br><br>
      <label>Enter your email: </label>
      <input type="email" name="email"/><br><br>
      <label>Enter your password: </label>
      <input type="password" name="password"/><br><br>
      <label>Re-Enter password: </label>
      <input type="password" name="Enterpassword"/><br><br>
    </div>
    <div>
      <button type="submit">Register</button>
    </div>
  </form>
</body>
</html>