<html>
  <head>
    <title>Task Management</title>
  </head>
  <body>
    <h1>TO DO APPLICATION</h1>
    <div style="display:flex;gap:10px" >
      <div>
        <form   action="http://127.0.0.1:5000/login">
          <div>
            <button type="submit">Login</button>
          </div>
        </form>
      </div>
      <div>
        <form action="http://127.0.0.1:5000/register">
          <div>
            <button type="submit">Register</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
